/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-container {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #fff8f0;
  flex-wrap: wrap;
  color: #666666;
}

header {
  background-color: #e56a2c;
  color: #2D2D2D;
  margin: none;
}

h1 {
  font-size: 3rem;
  padding-top: 25px;
}

nav {
  font-size: 1.5rem;
  background-color: #8FC93A;
  padding: 15px;
  flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

td, 
th {
    border: 1px solid red;
}

table {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} 

footer {
  background-color: #ce936e;
  height: 50px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding: 25px;
  color: black;
}