/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #fff8f0;
  flex-wrap: wrap;
  color: #666666;
}

header {
  background-color: #e56a2c;
  color: #2D2D2D;
  margin: none;
}

h1 {
  font-size: 3rem;
  padding-top: 25px;
}

nav {
  font-size: 1.5rem;
  background-color: #8FC93A;
  padding: 15px;
  flex-wrap: wrap;
  color: blue;
}

nav:hover {
  background-color: tan;
  transition-duration: 3s;
}

.dropdown-content:hover {
  background-color: tan;
  transition-duration: 3s;
}

.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  height: 25px;
  width: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8FC93A;
  text-align: center;
}

a {
    text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.about {
  margin: 15px auto;
}

h2,
p {
  margin: 1px 0 auto;
  font-size: 1.5rem;
  padding: 10px;
}

.images {
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;
    flex-wrap: wrap;
}

.images :hover{
  transform: scale(1.2);
  transition-duration: 3s;
}

footer {
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 25px;
    color: black;
}
